body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px*$escalaTxt;
    background-image: url(/media/sombra.jpg);
    margin-top: 160px*$escala;
}
input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px*$escala;
}
label{cursor: pointer;}

input{
    font-family: 'Roboto', sans-serif;
    font-size: 30px*$escalaTxt;
}

header{
    position: fixed;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    border-bottom: solid 1px #000;
    height: 40px*$escala;
    padding: 31px*$escala 0px;
    top:0px;
}

a,a:link,a:visited{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

a:hover{
    color: red;
    text-decoration: underline;
}

header > nav {
    display: inline;
    margin: 0px 25px*$escala;
}

header .salir{
    display: inline;
}

header .nombre_jugador{
    display: inline;
    margin: 0px 25px*$escala;
}

.imgCargando{
    width: 60px*$escala;
}

#contenido{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    height: 1000px*$escala;
}
#listaJugadores .IMGperfil{
	width: 80px*$escala;
}
#listaJugadores > tbody > tr:nth-child(even){
    background-color: #ccc;
}
#listaJugadores > tbody > tr.equipo1{
	background-color: #c00 !important;
	color:white !important;
}
#listaJugadores > tbody > tr.equipo2{
	background-color: #00c !important;
	color:white !important;
}
#listaJugadores > tbody > tr:nth-child(odd){
    background-color: #fff;
}
#listaJugadores > tbody td{
    text-align: center;
}
#listaJugadores > thead th{
    color:white;
    background-color: #000;
}
#antesDeEmpezar > #titulo_salas{
	text-align: center;
	font-size: 40px*$escalaTxt;
	font-weight: bold;
}
#antesDeEmpezar > #formulario{
	text-align: center;
    margin-top: 26px*$escala;
}
#lista_salas > div:hover{
	background-color: #000;
	color: white;
}
#lista_salas > div{
    border-bottom: solid;
    cursor: pointer;
    margin: 7px*$escala;
    padding: 7px*$escala;
}
#lista_salas > div .creador_sala{
    font-size: 26px*$escalaTxt;
    text-align: right;
}
#lista_salas > div .nombre_sala{
    font-size: 34px*$escalaTxt;
    font-style: italic;
}
#lista_salas > div .codigo_sala{
    font-size: 20px*$escalaTxt;
    font-weight: bold;
}