body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16.0px;
  background-image: url(/media/sombra.jpg);
  margin-top: 85.33333px; }

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  padding: 5.33333px; }

label {
  cursor: pointer; }

input {
  font-family: 'Roboto', sans-serif;
  font-size: 16.0px; }

header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  border-bottom: solid 1px #000;
  height: 21.33333px;
  padding: 16.53333px 0px;
  top: 0px; }

a, a:link, a:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

a:hover {
  color: red;
  text-decoration: underline; }

header > nav {
  display: inline;
  margin: 0px 13.33333px; }

header .salir {
  display: inline; }

header .nombre_jugador {
  display: inline;
  margin: 0px 13.33333px; }

.imgCargando {
  width: 32.0px; }

#contenido {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 533.33333px; }

#listaJugadores .IMGperfil {
  width: 42.66667px; }

#listaJugadores > tbody > tr:nth-child(even) {
  background-color: #ccc; }

#listaJugadores > tbody > tr.equipo1 {
  background-color: #c00 !important;
  color: white !important; }

#listaJugadores > tbody > tr.equipo2 {
  background-color: #00c !important;
  color: white !important; }

#listaJugadores > tbody > tr:nth-child(odd) {
  background-color: #fff; }

#listaJugadores > tbody td {
  text-align: center; }

#listaJugadores > thead th {
  color: white;
  background-color: #000; }

#antesDeEmpezar > #titulo_salas {
  text-align: center;
  font-size: 21.33333px;
  font-weight: bold; }

#antesDeEmpezar > #formulario {
  text-align: center;
  margin-top: 13.86667px; }

#lista_salas > div:hover {
  background-color: #000;
  color: white; }

#lista_salas > div {
  border-bottom: solid;
  cursor: pointer;
  margin: 3.73333px;
  padding: 3.73333px; }

#lista_salas > div .creador_sala {
  font-size: 13.86667px;
  text-align: right; }

#lista_salas > div .nombre_sala {
  font-size: 18.13333px;
  font-style: italic; }

#lista_salas > div .codigo_sala {
  font-size: 10.66667px;
  font-weight: bold; }
