body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 21.34375px;
  background-image: url(/media/sombra.jpg);
  margin-top: 113.83333px; }

input {
  font-family: 'Roboto', sans-serif;
  font-size: 21.34375px; }

header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  border-bottom: solid 1px #000;
  height: 28.45833px;
  padding: 22.05521px 0px;
  top: 0px; }

a, a:link, a:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

a:hover {
  color: red;
  text-decoration: underline; }

header > nav {
  display: inline;
  margin: 0px 17.78646px; }

header .salir {
  display: inline; }

header .nombre_jugador {
  display: inline;
  margin: 0px 17.78646px; }

.imgCargando {
  width: 42.6875px; }

#contenido {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px; }

#listaJugadores > tbody > tr:even {
  background-color: #ccc; }

#listaJugadores > tbody > tr:odd {
  background-color: #fff; }

#listaJugadores > tbody td {
  text-align: center; }

#listaJugadores > thead th {
  color: white;
  background-color: #000; }
