body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  background-image: url(/media/sombra.jpg);
  margin-top: 73.6px; }

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  padding: 4.6px; }

label {
  cursor: pointer; }

input {
  font-family: 'Roboto', sans-serif;
  font-size: 24px; }

header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  border-bottom: solid 1px #000;
  height: 18.4px;
  padding: 14.26px 0px;
  top: 0px; }

a, a:link, a:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

a:hover {
  color: red;
  text-decoration: underline; }

header > nav {
  display: inline;
  margin: 0px 11.5px; }

header .salir {
  display: inline; }

header .nombre_jugador {
  display: inline;
  margin: 0px 11.5px; }

.imgCargando {
  width: 27.6px; }

#contenido {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 460px; }

#listaJugadores > tbody > tr:even {
  background-color: #ccc; }

#listaJugadores > tbody > tr:odd {
  background-color: #fff; }

#listaJugadores > tbody td {
  text-align: center; }

#listaJugadores > thead th {
  color: white;
  background-color: #000; }

#antesDeEmpezar > #titulo_salas {
  text-align: center;
  font-size: 32px;
  font-weight: bold; }

#antesDeEmpezar > #formulario {
  text-align: center;
  margin-top: 11.96px; }

#lista_salas > div:hover {
  background-color: #000;
  color: white; }

#lista_salas > div {
  border-bottom: solid;
  cursor: pointer;
  margin: 3.22px;
  padding: 3.22px; }

#lista_salas > div .creador_sala {
  font-size: 20.8px;
  text-align: right; }

#lista_salas > div .nombre_sala {
  font-size: 27.2px;
  font-style: italic; }

#lista_salas > div .codigo_sala {
  font-size: 16px;
  font-weight: bold; }
